.photo-grid {
  margin-top: 92px;
  margin: 0 auto;
  max-width: 1184px;
  min-width: 288px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1100px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}
@media screen and (max-width: 999px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width: 665px) {
  .photo-grid {
    max-width: 228px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}