.place {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto auto;
  gap: 48px 40px;
}
.place:first-child {
  margin-top: 0;
}
.place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1100px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 999px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 665px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
  }
}