.lead {
  margin: 56px auto 0;
  max-width: 76.875%;
}
@media screen and (max-width: 1100px) {
  .lead {
    margin: 48px 0 0;
    max-width: 928px;
  }
}
@media screen and (max-width: 999px) {
  .lead {
    max-width: 100vw;
  }
}