.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
  line-height: 22px;
}
@media screen and (max-width: 665px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}