.header {
  margin: 28px 48px 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 100%;
  }
}
@media screen and (max-width: 665px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
  }
}