.place__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
@media screen and (max-width: 999px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
  }
}