.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 18px;
}
.footer__link:first-child{
  margin-left: 0;
}