.place__paragraph {
  margin: 26px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.place__paragraph:first-child {
  margin-top: 0;
}
/* .place__paragraph:last-child {
  margin-bottom: 0;            <---  Я же добавил это?
} */
@media screen and (max-width: 470px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 0;
  }
}