.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media screen and (min-width: 665px) {
  .footer__copyright {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}