.lead__figcaption {
  margin: 8px 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 999px) {
  .lead__figcaption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 665px) {
  .lead__figcaption {
    margin-left: 16px;
  }
}