.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto 64px;
}
@media screen and (max-width: 1100px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 665px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}