.cover {
  max-width: 1184px;
  height: 740px;  /*<-- По другому не получается блок растянуть*/
  position: relative;
  margin: 0 auto 92px;
}
@media screen and (max-width: 1100px) {
  .cover {
    min-width: 100%;
    max-height: 640px;
  }
}
@media screen and (max-width: 999px) {
  .cover {
    margin-bottom: 88px;
    max-height: 480px;
  }
}
@media screen and (max-width: 665px) {
  .cover {
    margin-bottom: 64px;
    max-height: 200px;
  }
}