.cover__title {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  z-index: 1;
  align-self: end;
  justify-self: center;
}
@media screen and (min-width: 999px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}
@media screen and (max-width: 665px) {
  .cover__title {
    max-width: 288px;
  }
}