.place__paragraph {
  margin: 26px 0;
}
.place__paragraph:first-child {
  margin-top: 0;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 999px) {
  .place__paragraph {
    margin: 25px 0;
  }
}